button{
    background-color: #ff7be9;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    margin: 0px 0px;
    font-size: 25px;
    font-family: DejaVu Sans Mono, monospace; 
    text-align: center;
    vertical-align: text-top;
  }

  div{
    margin: 50px 0px;
  }